.bg-1 {
  background-color: #190d53 !important;
  color: #eee;
}
.bg-1-2 {
  background-color: #003a88 !important;
  color: #eee;
}
.bg-1-2-3 {
  background-color: #0065b0 !important;
  color: #eee;
}
.bg-1-2-3-4 {
  background-color: #0090c6 !important;
  color: #eee;
}
